.wobbing {
  position: relative;
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wobbing span {
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  display: block;
  width: 500px;
  height: 500px;
  background-color: rgb(50, 153, 160);
  animation: wobbing ease-in-out 3s infinite;
}

.wobbing span:nth-child(2) {
  background-color: rgb(0, 148, 160);
  animation-delay: 0.3s;
}
.wobbing span:nth-child(3) {
  background-color: rgb(95, 158, 160);
  animation-delay: 0.6s;
}

@keyframes wobbing {
  0% {
    width: 500px;
    height: 500px;
  }
  40% {
    width: 700px;
    height: 700px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
