@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@import "reset.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #131313;
}
.nav-header {
  z-index: 1;
  margin: 0 10%;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #72a586;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 800ms ease-in-out;
  transition-property: width, height;
}
.button__hover:hover {
  width: 400px;
  height: 400px;
}
.be-main {
  width: 250vh;
  height: 250vh;
}

.main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131313;
  width: 100vh;
  height: 60vh;
  transition: all 1.2s ease-in-out, color 0.2s ease-in-out 1s;
  color: #8ac9a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------*/
.vertical-line {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%) scaleY(1.01);
  background-color: #72a586;
  width: 10px;
  height: 100%;
}
.horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%) scaleX(1.01);
  background-color: #72a586;
  width: 50%;
  height: 10px;
}

.left-container {
  width: 50%;
  height: 100%;
}
.left-container__clock {
  pointer-events: none;
  width: 100%;
  height: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-container__weather {
  pointer-events: none;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}
.left-container__weather span {
  margin: 28px;
  font-size: 42px;
}
.right-container {
  width: 50%;
  height: 100%;
  position: relative;
}
.right-container__to-do-list {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  position: relative;
  top: 30%;
}
.right-container header {
  pointer-events: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  opacity: 1;
}
.todo__button,
.todo__input {
  border: none;
  border-bottom: 1px solid #8ac9a2;
  background-color: rgba(0, 0, 0, 0);
  color: #8ac9a2;
}
.todo__input::placeholder {
  text-align: center;
  color: rgba(138, 201, 162, 1);
}
.todo__button {
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  position: relative;
  background-color: #72a586;
}
.todo__button i {
  color: #131313;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo-list {
  font-size: 20px;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}
.complete-btn {
  position: absolute;
  left: -50px;
  background-color: rgba(0, 0, 0, 0);
  color: #72a586;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 25px;
}
.trash-btn {
  position: absolute;
  right: -25px;
  background-color: rgba(0, 0, 0, 0);
  color: #72a586;
  border: none;
  cursor: pointer;
  font-size: 25px;
}
.todo-list__container {
  margin-top: 40px;
}
.completed {
  opacity: 0.3;
}
/*------------------------------------------------*/
.hidden {
  color: rgba(0, 0, 0, 0);
  width: 0vh;
  height: 0vh;
  opacity: 0;
  transition: all 800ms ease-in-out, opacity 300ms ease-in-out;
  pointer-events: none;
}
.none {
  display: none;
}
/*-----------------------------------------------------------*/
.underbar {
  padding-bottom: 5px;

  /*verson 1*/
  /* background: linear-gradient(currentColor 0 0) var(--x, 0) 100% / var(--x, 0)
    3.6px no-repeat; */

  /*version 2*/
  background: linear-gradient(currentColor 0 0) /*******background-color*******/
    50% 100% / var(--x, 0) 4px /*   =>   var(after,before)*/
    /****background-position(  left  ||  top  )background-size(  width  ||  height  )****/
    no-repeat; /*only one background*/

  transition: all 0.3s, background-position 0s 0.3s, color 0.7s ease-in-out;
  color: #72a586;
  font-size: 45px;
  font-weight: 500;
}
.underbar:hover {
  --x: 100%;
}
