@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@import "reset.css";
@import "animation.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #131313;
}
.nav-header {
  z-index: 1;
  margin: 0 10%;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-size: 45px;
  font-weight: 500;
  color: #8ac9a2;
  transition: color 0.5s ease-in-out;
}
.button {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #72a586;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 800ms ease-in-out;
  transition-property: width, height;
}
.button__hover:hover {
  width: 400px;
  height: 400px;
}
.be-main {
  width: 250vh;
  height: 250vh;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131313;
  width: 100vh;
  height: 60vh;
  transition: all 1.2s ease-in-out, color 0.2s ease-in-out 1s;
  color: #8ac9a2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  color: rgba(0, 0, 0, 0);
  width: 0vh;
  height: 0vh;
  opacity: 0;
  transition: all 800ms ease-in-out, opacity 300ms ease-in-out;
}
/*------------------------------------------------*/
.main {
  pointer-events: none;
  position: relative;
}
.vertical-line {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%) scaleY(1.01);
  background-color: #72a586;
  width: 10px;
  height: 100%;
}
.horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%) scaleX(1.01);
  background-color: #72a586;
  width: 50%;
  height: 10px;
}

.left-container {
  width: 50%;
  height: 100%;
}
.left-container__clock {
  width: 100%;
  height: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-container__weather {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}
.left-container__weather span {
  margin: 28px;
  font-size: 42px;
}
.right-container {
  width: 50%;
  height: 100%;
}
.right-container__to-do-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
/*------------------------------------------------*/
